openapi: 3.0.1
info:
  title: Packback API
  description: >-
    Packback is an AI-powered instructional platform for higher education and
    K-12 that provides real-time, formative feedback on student discussions and
    writing. As of this catalog's review date, Packback does NOT publish a
    public, developer-facing REST API for its Questions/Discussions, Writing, or
    Deep Dives products. Access to those products is delivered to students and
    instructors inside their Learning Management System (LMS) through the IMS
    Global LTI standard - Packback is 1EdTech certified for LTI 1.0, 1.2, and
    1.3 (LTI Advantage), supporting single sign-on, deep linking, and
    gradebook/grade passback sync. The only published developer artifact is
    Packback's open-source LTI 1.3 PHP tool-provider library
    (github.com/packbackbooks/lti-1-3-php-library). Because no public REST
    endpoints are documented, the paths object below is intentionally empty so
    that no operations are fabricated. This document exists to honestly record
    that Packback's integration surface is LTI, not a REST API.
  termsOfService: https://packback.co/terms-of-service/
  contact:
    name: Packback Support
    url: https://help.packback.co
  version: '1.0'
servers:
  - url: https://packback.co
    description: >-
      Marketing and product site. Application access is brokered through the
      institution's LMS via LTI launches, not via a documented public REST base
      URL.
paths: {}
components:
  schemas: {}
